
*.xml
*.iml
*.xml
.nrepl-port
*.xml
.idea/misc.xml
.idea/libraries/Leiningen__org_clojure_tools_nrepl_0_2_12.xml
.idea/libraries/Leiningen__org_clojure_spec_alpha_0_1_143.xml
.idea/libraries/Leiningen__org_clojure_core_specs_alpha_0_1_24.xml
.idea/libraries/Leiningen__org_clojure_clojure_1_9_0.xml
.idea/libraries/Leiningen__clojure_complete_0_2_4.xml
.idea/compiler.xml
.idea/ClojureProjectResolveSettings.xml
*.properties
*.extract-native-dependencies
target/repl-port
.idea/misc.xml
